.cards-section {
  width: 77%;
  background: #fff;
  margin: auto;
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  /* display: grid; */
}

.cards-section-header {
  font-size: 16px;
  color: #585960;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  width: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* width: 80%; */
  /* max-width: 600px; */
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  font-size: 14px;
}

.pagination-left {
  display: flex;
}

.dropdown-btn {
  border: 1px solid #dbdcde;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.pagination-records {
  padding: 6px 0 6px 13px;
}

.pagination-records p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #383940;
}

.pagination-pages button {
  border: none;
  background: none;
  color: #5e6278;
  padding: 5px 13px;
}

.pagination-pages button:focus {
  border: 1px solid #dbdcde;
  background-color: #4776e6;
  color: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .cards-section {
    width: 88%;
  }
  .cards-section-header {
    font-size: 12px;
  }
  .dropdown-btn {
    font-size: 12px;
  }
  .pagination-records p {
    font-size: 12px;
  }
  .pagination-pages {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .cards-section {
    width: 88%;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
  }
  .dropdown-btn {
    font-size: 11px;
  }
  .pagination-records p {
    font-size: 11px;
  }
  .pagination-pages {
    font-size: 11px;
  }
}

@media screen and (max-width: 550px) {
  .cards-section {
    width: 88%;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
  }
  .pagination {
    margin-top: 18px;
    flex-direction: column;
    justify-content: center;
  }
  .pagination-left {
    justify-content: center;
  }
  .pagination-pages {
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }
  .dropdown-btn {
    font-size: 10px;
  }
  .pagination-records p {
    font-size: 10px;
  }
  .pagination-pages {
    font-size: 10px;
  }
}
