.carousel-inner_section {
  width: 77%;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  padding: 24px;
  border-radius: 8px;
  margin: 20px auto 0;
}

.left-section {
  width: 52%;
  padding-right: 12px;
}

.right-section {
  width: 50%;
  padding-left: 12px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.badge {
  display: inline-block;
  border: 1px solid rgba(1, 118, 230, 0.2);
  background: #f1faff;
  padding: 4px 14px;
  border-radius: 25px;
}

.badge h1 {
  font-size: 13px;
  font-weight: 400;
  color: #585960;
}

.like-share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.like-share svg {
  cursor: pointer;
  margin-left: 15px;
}

.prod-heading {
  color: #464e5f;
  font-size: 20px;
  font-weight: 600;
  margin-top: 14px;
  width: 90%;
}

.prod-heading-date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 14px;
  display: inline-block;
  color: #4776e6;
  background: rgba(71, 118, 230, 0.1);
  border-radius: 4px;
  margin-top: 8px;
}

.prod-btn-container {
  display: flex;
  align-items: center;
}

.prod-btn-container svg {
  margin: 6px 0 6px 8px;
  color: #50cd89;
  height: 25px;
  width: 25px;
}

.prod-btn {
  padding: 8px 24px;
  background-color: #4776e6;
  color: #fff;
  border-radius: 4px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  border: none;
  margin: 14px 0;
  cursor: pointer;
}

.prod-tags {
  display: inline-flex;
  flex-wrap: wrap;
}

.prod-tags p {
  padding: 5px 6px;
  margin: 4px 4px 0 0;
  border: 1px solid #4776e633;
  flex-wrap: wrap;
  border-radius: 4px;
  color: #585960;
  font-weight: 400;
  font-size: 13px;
}

.prod-description {
  color: #585960;
  font-weight: 400;
  font-size: 14px;
  margin-top: 14px;
  line-height: 20px;
}

.prod-description-readmore {
  color: #4776e6;
  text-decoration: underline;
  border: none;
  background-color: #fff;
  font-size: 14px;
  margin-left: 1px;
  font-weight: 400;
  cursor: pointer;
  outline: none;

  line-height: 20px;
}

.advantages {
  margin: 14px 0 14px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.advantages-points {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.advantages-points svg {
  height: 20px;
  width: 20px;
  color: #4776e6;
}

.advantages-points span {
  margin: 4px 4px 0 0;
}

@media screen and (max-width: 1024px) {
  .carousel-inner_section {
    width: 88%;
  }
  .badge {
    padding: 2px 12px;
  }
  .prod-heading {
    font-size: 18px;
    margin-top: 10px;
  }
  .like-share svg {
    height: 20px;
    width: 20px;
    margin-left: 15px;
  }
  .prod-heading-date {
    margin-top: 6px;
    font-size: 12px;
  }
  .prod-btn {
    margin: 5px 0;
    padding: 6px 22px;
    font-size: 13px;
  }
  .prod-btn-container svg {
    height: 20px;
    width: 20px;
  }
  .prod-tags p {
    font-size: 11px;
  }
  .prod-description {
    color: #585960;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
  }
  .prod-description-readmore {
    font-size: 13px;
  }
  .advantages {
    margin: 8px 0 8px 0;
    font-size: 15px;
  }
  .advantages-points {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-inner_section {
    width: 85%;
  }
  .badge h1 {
    font-size: 9px;
  }
  .prod-heading {
    font-size: 13px;
    margin-top: 10px;
  }
  .like-share svg {
    height: 20px;
    width: 20px;
  }

  .prod-heading-date {
    margin-top: 6px;
    font-size: 7px;
  }
  .prod-btn {
    margin: 5px 0;
    padding: 2px 14px;
    font-size: 8px;
  }
  .prod-btn-container svg {
    height: 15px;
    width: 15px;
  }
  .prod-tags p {
    font-size: 7px;
    padding: 3px 4px;
  }
  .prod-description {
    color: #585960;
    font-weight: 400;
    font-size: 9px;
    margin-top: 10px;
  }
  .prod-description-readmore {
    font-size: 9px;
  }

  .prod-heading-date {
    padding: 0 5px;
  }
  .advantages {
    margin: 6px 0 6px 0;
    font-size: 11px;
  }
  .advantages-points {
    font-size: 8px;
  }
  .advantages-points span {
    margin: 2px 4px 0 0;
  }
  .advantages-points svg {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 550px) {
  .carousel-inner_section {
    width: 85%;
    display: flex;
    flex-direction: column;
  }

  .left-section {
    width: 100%;
    padding: 0;
  }
  .right-section {
    width: 100%;
    margin-top: 15px;
    padding: 0;
  }
  .badge {
    padding: 5px 12px;
  }
  .badge h1 {
    font-size: 12px;
  }
  .like-share svg {
    margin-left: 15px;
    height: 20px;
    width: 20px;
  }
  .prod-btn-container svg {
    height: 15px;
    width: 15px;
  }
}
